In [ ]:
#Data Cleaning and Validation for Coffee Sales Dataset
# This project focuses on cleaning and validating a dataset containing coffee sales data, 
# which was sourced from Kaggle. The dataset includes various sales and financial metrics 
# such as Cost of Goods Sold (Cogs), Profit, Inventory Margin, and Marketing Costs, along 
# with product and market details such as Product Line, Market Area, and Stte.

# In this analysis, the following steps are performed:
# 1. Data Cleaning: Removing any irrelevant or missing data, handling missing values, 
#    and correcting inconsistent or erroneous entries.
# 2. Data Transformation: Converting columns to appropriate data types, formatting dates 
#    correctly, and performing any necessary calculations, such as profit margins or total expenses.
# 3. Data Validation: Ensuring the accuracy and consistency of the data, checking for 
#    discrepancies such as mismatched values, and validating the correctness of key metrics 
#    like profit or sales against target values.
# The tools used for this project include Python, Pandas for data manipulation, and 
# Numpy for numerical computations. The cleaned and validated data can then be used for 
# further analysis or machine learning tasks related to sales prediction or trend analysis.

In [2]:
!pip install pandas # Install pandas library if not already installed

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '#': Expected package name at the start of dependency specifier
    #
    ^

In [3]:
import pandas as pd # Import pandas library

In [4]:
df=pd.read_csv(r'Downloads/Coffee_Chain_Sales .csv')  
# Read the CSV file containing coffee sales data into a DataFrame

In [7]:
df.head() # Display the first few rows of the data

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market,Marketing,Product_line,...,Product,Profit,Sales,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type
0,303,51,-35,10/1/2012,503,71,Major Market,Central,46,Leaves,...,Lemon,-5,122,Colorado,30,60,30,90,76,Decaf
1,970,52,-24,10/1/2012,405,71,Major Market,Central,17,Leaves,...,Mint,26,123,Colorado,30,60,50,90,45,Decaf
2,409,43,-22,10/2/2012,419,64,Major Market,South,13,Leaves,...,Lemon,28,107,Texas,30,60,50,90,36,Decaf
3,850,38,-15,10/3/2012,871,56,Major Market,East,10,Leaves,...,Darjeeling,35,94,Florida,40,60,50,100,21,Regular
4,562,72,6,10/4/2012,650,110,Major Market,West,23,Leaves,...,Green Tea,56,182,California,20,60,50,80,54,Regular

In [8]:
df=df.rename(columns = {'Marketing':'Marketing_Cost', 'Market':'Market_Area'}) 
# Renaming columns for better clarity and consistency

In [9]:
df.head()

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market_Area,Marketing_Cost,Product_line,...,Product,Profit,Sales,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type
0,303,51,-35,10/1/2012,503,71,Major Market,Central,46,Leaves,...,Lemon,-5,122,Colorado,30,60,30,90,76,Decaf
1,970,52,-24,10/1/2012,405,71,Major Market,Central,17,Leaves,...,Mint,26,123,Colorado,30,60,50,90,45,Decaf
2,409,43,-22,10/2/2012,419,64,Major Market,South,13,Leaves,...,Lemon,28,107,Texas,30,60,50,90,36,Decaf
3,850,38,-15,10/3/2012,871,56,Major Market,East,10,Leaves,...,Darjeeling,35,94,Florida,40,60,50,100,21,Regular
4,562,72,6,10/4/2012,650,110,Major Market,West,23,Leaves,...,Green Tea,56,182,California,20,60,50,80,54,Regular

In [10]:
df.isnull().any() #checking if have any nulls in any column

Area Code                                 False
Cogs                                      False
DifferenceBetweenActualandTargetProfit    False
Date                                      False
Inventory Margin                          False
Margin                                    False
Market_size                               False
Market_Area                               False
Marketing_Cost                            False
Product_line                              False
Product_type                              False
Product                                   False
Profit                                    False
Sales                                     False
State                                     False
Target_cogs                               False
Target_margin                             False
Target_profit                             False
Target_sales                              False
Total_expenses                            False
Type                                      False
dtype: bool

In [11]:
duplicates = df.duplicated() # Checking for duplicates

In [12]:
df[duplicates]  # Display rows that are duplicates

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market_Area,Marketing_Cost,Product_line,...,Product,Profit,Sales,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type
34,314,33,-23,11/2/2012,836,48,Small Market,Central,9,Beans,...,Decaf Espresso,27,81,Missouri,40,60,50,100,21,Decaf
49,314,33,-23,11/2/2012,836,48,Small Market,Central,9,Beans,...,Decaf Espresso,27,81,Missouri,40,60,50,100,21,Decaf

In [13]:
df.dtypes  # Displaying the data types of each column

Area Code                                  int64
Cogs                                       int64
DifferenceBetweenActualandTargetProfit     int64
Date                                      object
Inventory Margin                           int64
Margin                                     int64
Market_size                               object
Market_Area                               object
Marketing_Cost                             int64
Product_line                              object
Product_type                              object
Product                                   object
Profit                                     int64
Sales                                      int64
State                                     object
Target_cogs                                int64
Target_margin                              int64
Target_profit                              int64
Target_sales                               int64
Total_expenses                             int64
Type                                      object
dtype: object

In [37]:
df[['State', 'Market_size', 'Market_Area', 'Product_line', 'Product_type','Product', 'Type']] = df[['State', 'Market_size', 'Market_Area', 'Product_line', 'Product_type', 'Product', 'Type']].apply(lambda x: x.str.lower())
#converting specific columbs to lowercase for consistency

In [39]:
df.head()  # Display the first few rows to check if the string conversion to lowercase was successful

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market_Area,Marketing_Cost,Product_line,...,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type,Calculated_Profit,Profit_Match,Net_Profit_Status
0,303,51,-35,10/1/2012,503,71,major market,central,46,leaves,...,colorado,30,60,30,90,76,decaf,-5,True,net negative
1,970,52,-24,10/1/2012,405,71,major market,central,17,leaves,...,colorado,30,60,50,90,45,decaf,26,True,net positive
2,409,43,-22,10/2/2012,419,64,major market,south,13,leaves,...,texas,30,60,50,90,36,decaf,28,True,net positive
3,850,38,-15,10/3/2012,871,56,major market,east,10,leaves,...,florida,40,60,50,100,21,regular,35,True,net positive
4,562,72,6,10/4/2012,650,110,major market,west,23,leaves,...,california,20,60,50,80,54,regular,56,True,net positive

In [40]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
# Convert the 'Date' column to datetime format to ensure proper handling of dates
# Any invalid date format is coerced into NaT (Not a Time)

In [41]:
df.head()

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market_Area,Marketing_Cost,Product_line,...,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type,Calculated_Profit,Profit_Match,Net_Profit_Status
0,303,51,-35,2012-10-01,503,71,major market,central,46,leaves,...,colorado,30,60,30,90,76,decaf,-5,True,net negative
1,970,52,-24,2012-10-01,405,71,major market,central,17,leaves,...,colorado,30,60,50,90,45,decaf,26,True,net positive
2,409,43,-22,2012-10-02,419,64,major market,south,13,leaves,...,texas,30,60,50,90,36,decaf,28,True,net positive
3,850,38,-15,2012-10-03,871,56,major market,east,10,leaves,...,florida,40,60,50,100,21,regular,35,True,net positive
4,562,72,6,2012-10-04,650,110,major market,west,23,leaves,...,california,20,60,50,80,54,regular,56,True,net positive

In [42]:
df

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market_Area,Marketing_Cost,Product_line,...,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type,Calculated_Profit,Profit_Match,Net_Profit_Status
0,303,51,-35,2012-10-01,503,71,major market,central,46,leaves,...,colorado,30,60,30,90,76,decaf,-5,True,net negative
1,970,52,-24,2012-10-01,405,71,major market,central,17,leaves,...,colorado,30,60,50,90,45,decaf,26,True,net positive
2,409,43,-22,2012-10-02,419,64,major market,south,13,leaves,...,texas,30,60,50,90,36,decaf,28,True,net positive
3,850,38,-15,2012-10-03,871,56,major market,east,10,leaves,...,florida,40,60,50,100,21,regular,35,True,net positive
4,562,72,6,2012-10-04,650,110,major market,west,23,leaves,...,california,20,60,50,80,54,regular,56,True,net positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,775,250,133,2015-08-23,1820,251,small market,west,70,leaves,...,nevada,180,180,100,360,94,regular,190,True,net positive
1060,971,88,48,2015-08-24,817,133,small market,west,29,leaves,...,oregon,60,100,60,160,60,regular,88,True,net positive
1061,775,294,-285,2015-08-25,8252,-294,small market,west,111,leaves,...,nevada,210,-210,-320,0,145,regular,-406,True,net negative
1062,503,134,80,2015-08-26,690,186,small market,west,41,leaves,...,oregon,90,140,100,230,65,regular,142,True,net positive
1063,435,20,-22,2015-08-27,218,25,small market,west,7,leaves,...,utah,10,20,0,30,40,regular,-12,True,net negative

In [43]:
df['Calculated_Profit'] = df['Sales'] - df['Cogs'] - df['Total_expenses'] 
# Calculate the 'Calculated_Profit' as the difference between Sales, Cogs, and Total_expenses

In [44]:
df['Profit_Match'] = df['Calculated_Profit'] == df['Profit']
# Compare the 'Calculated_Profit' with the original 'Profit' column to check for mismatches

In [45]:
mismatches = df[df['Profit_Match'] == False]
# Identify the rows where 'Profit_Match' is False/mismatched values

In [46]:
print(mismatches[['Sales', 'Cogs', 'Total_expenses', 'Profit', 'Calculated_Profit']])  
# Display mismatched rows with relevant columns (Sales, Cogs, Total_expenses, Profit, and Calculated_Profit)

Empty DataFrame
Columns: [Sales, Cogs, Total_expenses, Profit, Calculated_Profit]
Index: []

In [21]:
df.loc[df['Profit_Match'] == False, 'Profit'] = df['Calculated_Profit']
# Correct the mismatched 'Profit' values by assigning 'Calculated_Profit' where there's a mismatch

In [22]:
# Recalculate the 'Profit_Match' column to check if the values are now consistent
df['Profit_Match'] = (df['Profit'] == df['Calculated_Profit'])

mismatches = df[df['Profit_Match'] == False]  # Identify if there are still mismatches after correction

if mismatches.empty:   # Print a message indicating whether there are still mismatches or not
    print("All profit values are now consistent.")
else:
    print("There are still mismatches:")
    print(mismatches[['Sales', 'Cogs', 'Total_expenses', 'Profit', 'Calculated_Profit']])

All profit values are now consistent.

In [23]:
df['Net_Profit_Status'] = df['Profit'].apply(lambda x: 'net positive' if x > 0 else 'net negative')
# Create a new column 'Net_Profit_Status' based on the 'Profit' column.
# If the profit is greater than 0, classify it as 'net positive', otherwise as 'net negative'

In [24]:
# Display the count of the 'Net_Profit_Status' column
# This shows how many entries are classified as 'net positive' or 'net negative'
print(df['Net_Profit_Status'].value_counts())

Net_Profit_Status
net positive    952
net negative    112
Name: count, dtype: int64

In [25]:
df.head()     #display the result

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market_Area,Marketing_Cost,Product_line,...,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type,Calculated_Profit,Profit_Match,Net_Profit_Status
0,303,51,-35,10/1/2012,503,71,Major Market,Central,46,Leaves,...,Colorado,30,60,30,90,76,Decaf,-5,True,net negative
1,970,52,-24,10/1/2012,405,71,Major Market,Central,17,Leaves,...,Colorado,30,60,50,90,45,Decaf,26,True,net positive
2,409,43,-22,10/2/2012,419,64,Major Market,South,13,Leaves,...,Texas,30,60,50,90,36,Decaf,28,True,net positive
3,850,38,-15,10/3/2012,871,56,Major Market,East,10,Leaves,...,Florida,40,60,50,100,21,Regular,35,True,net positive
4,562,72,6,10/4/2012,650,110,Major Market,West,23,Leaves,...,California,20,60,50,80,54,Regular,56,True,net positive

In [26]:
df.dtypes  #checking for the types of new column

Area Code                                  int64
Cogs                                       int64
DifferenceBetweenActualandTargetProfit     int64
Date                                      object
Inventory Margin                           int64
Margin                                     int64
Market_size                               object
Market_Area                               object
Marketing_Cost                             int64
Product_line                              object
Product_type                              object
Product                                   object
Profit                                     int64
Sales                                      int64
State                                     object
Target_cogs                                int64
Target_margin                              int64
Target_profit                              int64
Target_sales                               int64
Total_expenses                             int64
Type                                      object
Calculated_Profit                          int64
Profit_Match                                bool
Net_Profit_Status                         object
dtype: object

In [27]:
# Group the data by 'Product_line' and calculate the total 'Sales' and 'Profit' for each product line
df_grouped = df.groupby('Product_line').agg({'Sales': 'sum', 'Profit': 'sum'})

In [28]:
df.head()     #displaying the result

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market_Area,Marketing_Cost,Product_line,...,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type,Calculated_Profit,Profit_Match,Net_Profit_Status
0,303,51,-35,10/1/2012,503,71,Major Market,Central,46,Leaves,...,Colorado,30,60,30,90,76,Decaf,-5,True,net negative
1,970,52,-24,10/1/2012,405,71,Major Market,Central,17,Leaves,...,Colorado,30,60,50,90,45,Decaf,26,True,net positive
2,409,43,-22,10/2/2012,419,64,Major Market,South,13,Leaves,...,Texas,30,60,50,90,36,Decaf,28,True,net positive
3,850,38,-15,10/3/2012,871,56,Major Market,East,10,Leaves,...,Florida,40,60,50,100,21,Regular,35,True,net positive
4,562,72,6,10/4/2012,650,110,Major Market,West,23,Leaves,...,California,20,60,50,80,54,Regular,56,True,net positive

In [29]:
print(df_grouped) # Print the grouped data by 'Product_line', showing total sales and profit for each

               Sales  Profit
Product_line
Beans         108548   31968
Leaves         94509   26299

In [30]:
df_grouped_product_type = df.groupby(['Product_type','Type']).agg({'Sales': 'sum', 'Profit': 'sum'})
# Group the data by both 'Product_type' and 'Type', calculating total 'Sales' and 'Profit' for each combination

In [31]:
print(df_grouped_product_type)
# Print the grouped data by 'Product_type' and 'Type'

                      Sales  Profit
Product_type Type
Coffee       Decaf    14831    3047
             Regular  37542   12690
Espresso     Decaf    19050    6322
             Regular  37125    9909
Herbal Tea   Decaf    51685   14447
Tea          Regular  42824   11852

In [47]:
# Group the data by both 'Market_Area' and 'Product_line', calculating total 'Sales', 'Profit', and 'Cogs' for each combination
# Resetting the index to return the result as a DataFrame instead of a Series
df_grouped_market_product_line = df.groupby(['Market_Area', 'Product_line']).agg({'Sales': 'sum', 'Profit': 'sum', 'Cogs': 'sum'}).reset_index()

In [48]:
print(df_grouped_market_product_line) 
# Print the grouped data by 'Market_Area' and 'Product_line', showing total sales, profit, and cogs for each combination

  Market_Area Product_line  Sales  Profit   Cogs
0     central        beans  31421   10089  13108
1     central       leaves  33722   10460  14320
2        east        beans  26086    8442  10078
3        east       leaves  18022    4834   8318
4       south        beans  19502    6038   8094
5       south       leaves   6886    1556   2870
6        west        beans  31539    7399  14338
7        west       leaves  35879    9449  16448

In [33]:
# Create a pivot table with 'Product_type' as rows, 'Type' as columns, and the sum of 'Sales' as values
# Use fill_value=0 to replace any missing values with 0
pivot_table = df.pivot_table(values='Sales', index='Product_type', columns='Type', aggfunc='sum', fill_value=0)
print(pivot_table)

Type          Decaf  Regular
Product_type
Coffee        14831    37542
Espresso      19050    37125
Herbal Tea    51685        0
Tea               0    42824

In [34]:
# Calculate the average sales for each 'Product_type' and 'Type' combination
# Divide total sales by the count of entries in 'Sales' column for each group
df_grouped_product_type['Average_Sales'] = df_grouped_product_type['Sales'] / df_grouped_product_type['Sales'].count()


# Calculate the average profit for each 'Product_type' and 'Type' combination
# Divide total profit by the count of entries in 'Profit' column for each group
df_grouped_product_type['Average_Profit'] = df_grouped_product_type['Profit'] / df_grouped_product_type['Profit'].count()

In [35]:
# Print the calculated average sales for each group
print(df_grouped_product_type['Average_Sales'])

Product_type  Type
Coffee        Decaf      2471.833333
              Regular    6257.000000
Espresso      Decaf      3175.000000
              Regular    6187.500000
Herbal Tea    Decaf      8614.166667
Tea           Regular    7137.333333
Name: Average_Sales, dtype: float64

In [111]:
# Print the calculated average profit for each group
print(df_grouped_product_type['Average_Profit'])

Product_type  Type
coffee        decaf       507.833333
              regular    2115.000000
espresso      decaf      1053.666667
              regular    1651.500000
herbal tea    decaf      2407.833333
tea           regular    1975.333333
Name: Average_Profit, dtype: float64

In [117]:
# Identify the product line with the highest sales by selecting the row with the maximum value in the 'Sales' column
top_performing_product_line = df_grouped_product_line.loc[df_grouped_product_line['Sales'].idxmax()]

# Identify the product line with the lowest sales by selecting the row with the minimum value in the 'Sales' column
underperforming_product_line = df_grouped_product_line.loc[df_grouped_product_line['Sales'].idxmin()]

In [118]:
print(top_performing_product_line)

Product_line     beans
Sales           108548
Profit           31968
Name: 0, dtype: object

In [119]:
print(underperforming_product_line)

Product_line    leaves
Sales            94509
Profit           26299
Name: 1, dtype: object

In [129]:
# Group the data by 'Market' and calculate summary statistics for 'Sales', 'Profit', 'Total_expenses', and 'Cogs'
# The describe() method provides count, mean, standard deviation, min, 25%, 50%, 75%, and max for each of these columns
summary_statistics_by_market = df.groupby('Market')[['Sales', 'Profit', 'Total_expenses', 'Cogs']].describe()
print("\nSummary Statistics by Market:")
print(summary_statistics_by_market)

Summary Statistics by Market:
         Sales                                                            \
         count        mean         std   min    25%    50%    75%    max
Market
central  338.0  192.730769  143.807988  23.0   98.0  135.0  235.0  697.0
east     222.0  198.684685  173.057675  39.0   88.0  132.0  224.0  815.0
south    168.0  157.071429   97.485793  39.0   97.5  127.0  197.0  559.0
west     336.0  200.648810  153.907440  21.0  106.0  139.0  253.5  745.0

        Profit             ... Total_expenses          Cogs             \
         count       mean  ...            75%    max  count       mean
Market                     ...
central  338.0  60.795858  ...          63.00  144.0  338.0  81.147929
east     222.0  59.801802  ...          71.75  155.0  222.0  82.864865
south    168.0  45.202381  ...          55.00  125.0  168.0  65.261905
west     336.0  50.142857  ...          73.25  156.0  336.0  91.625000


               std   min    25%   50%    75%    max
Market
central  63.859978   0.0  40.00  56.0   94.0  294.0
east     67.904443   0.0  38.25  56.0  100.5  294.0
south    42.577754  15.0  39.75  52.5   82.0  241.0
west     71.001088   0.0  43.00  64.0  122.0  294.0

[4 rows x 32 columns]

In [49]:
df.head()

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market_Area,Marketing_Cost,Product_line,...,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type,Calculated_Profit,Profit_Match,Net_Profit_Status
0,303,51,-35,2012-10-01,503,71,major market,central,46,leaves,...,colorado,30,60,30,90,76,decaf,-5,True,net negative
1,970,52,-24,2012-10-01,405,71,major market,central,17,leaves,...,colorado,30,60,50,90,45,decaf,26,True,net positive
2,409,43,-22,2012-10-02,419,64,major market,south,13,leaves,...,texas,30,60,50,90,36,decaf,28,True,net positive
3,850,38,-15,2012-10-03,871,56,major market,east,10,leaves,...,florida,40,60,50,100,21,regular,35,True,net positive
4,562,72,6,2012-10-04,650,110,major market,west,23,leaves,...,california,20,60,50,80,54,regular,56,True,net positive

In [ ]:
#For this project, I tackled a messy coffee sales dataset. 
#First, I cleaned it up, making sure all the information was consistent and accurate. 
#This meant dealing with missing data and getting rid of any duplicates. 
#Then, I got the data ready for analysis.
#For example, I made sure the dates were in the right format and created a new metric called 'Calculated Profit.' 
#I carefully checked the profit figures and categorized them as either 'net positive' 
#or 'net negative' to spot and fix any errors. 
#By grouping the data and summarizing it, 
#I was able to uncover some interesting trends in sales and profit across different products and regions. 
#This analysis gives a clearer picture of how the business is doing and opens the door for further exploration, 
#like building models to predict future sales or diving deeper into how specific market factors impact sales.

In [5]:
# Save the cleaned DataFrame to a new CSV file named 'cafe_sales.csv', excluding the index column
df.to_csv('cafe_sales.csv', index=False)